*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px #ccc;
}
.headerleft{
    width:48px;
    margin-left:2%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.menu>ul{
    display: flex;
    gap:55px;
}
.menu>ul>li a{
    font-size:14px;
    font-weight: bold;
    color:black;
}

.headerRight{
    width:45%;
    display: flex;
    margin-right: 2%;
    justify-content: space-between;
    align-items: center;
}
.headerRight form{
    width:70%;
    display: flex;
    border:1px solid #ccc;
    border-radius: 5px;
}
.headerRight form button{
    width:10%;
    background: transparent;
    border:none;
}
.headerRight form input{
    width:90%;
    height:30px;
    border:none;
}

.profile ul{
    display: flex;
    gap:15px;
}

.profile ul li{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap:3px;
    flex-direction: column;
}

.banner{
    width:100%;
    margin-top: 50px;
}
.bannerimg{
    width:100%;
}

.brandsection{
    width:100%;
    padding:80px 0px;
}
.brandsection h2{
    padding-left: 30px;
    font-size:30px;
}

.brandrow{
    width:100%;
    display: flex;
    margin-top: 50px;
}
.brandsitems{
    width:17%;
    box-shadow: 0px 0px 10px 2px #ccc;
}
.brandsitems img{
    width:100%;
}

.brandsection2{
    width:100%;
    padding:80px 0px;
}
.brandsection2 h2{
    padding-left: 30px;
    font-size:30px;
}

.brandrow2{
    width:100%;
    display: flex;
    margin-top: 50px;
}
.branditems2{
    width:17%;
    box-shadow: 0px 0px 10px 2px #ccc;
}
.branditems2 img{
    width:100%;
}

.brandsection3{
    width:100%;
    padding:45px 0px;
}
.brandsection3 img{
    width: 98%;
 margin-left:2%;
}

.brandrow3{
     width:100%;
    display: flex;
    margin-top: 50px;
}

.branditems3{
    width:17%;
    margin-left: 25px;
    margin-top: 0px;
}

.branditems3 img{
    width:87%;
    gap:10px;
}


.brandrow4{
     width:100%;
    display: flex;
    margin-top: 50px;
}

.branditems4{
    width:17%;
    margin-left: 25px;
}

.branditems4 img{
    width:87%;
    gap:10px;
}


.brandrow5{
     width:70%;
    display: flex;
    margin-top: 50px;
    margin-left: 30%;
}

.branditems5{
    width:17%;
    /* margin-left: 10%; */
}

.branditems5 img{
    width:85%;
    gap:15px;
    
}
