.main {
    width: 1000px;
    height: 540px;
    border:4px solid black;
    margin:50px;
    font-family:sans-serif;

}

.row1 {
    width: 1000px;
    height: 100px;
    background-color: purple;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    font-style:italic;
    text-decoration:underline;
    text-transform: uppercase;
    word-spacing: 25px;
    letter-spacing: 5px;
}

.row2 {
    width: 1000px;
    height: 40px;
    background-color: antiquewhite;
}

.row2c1 {
    width: 186px;
    height: 36px;
    border:2px solid red;
    margin-left:5px;
    margin-right: 5px;
    Color: black;
    float:left;
    text-transform: capitalize;
}

.row3{
    width: 1000px;
    height: 200px;
    background-color:yellow;
}

.row3left{
    width: 250px;
    height: 200px;
    float:left;
    background-color:yellowgreen;
}

.row3c1{
    width:250px;
    height:40px;
    background-color: aqua;
}

.row3right{
    width: 750px;
    height: 200px;
    float:left;
    background-color:yellow;
}

